<p id="notice"><%= notice %></p>

<h1>Repondres</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repondres.each do |repondre| %>
      <tr>
        <td><%= repondre.user_id %></td>
        <td><%= repondre.question_id %></td>
        <td><%= link_to 'Show', repondre %></td>
        <td><%= link_to 'Edit', edit_repondre_path(repondre) %></td>
        <td><%= link_to 'Destroy', repondre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repondre', new_repondre_path %>
