<%= form_with(model: avoir, local: true) do |form| %>
  <% if avoir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avoir.errors.count, "error") %> prohibited this avoir from being saved:</h2>

      <ul>
        <% avoir.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reponse_id %>
    <%= form.text_field :reponse_id %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
