<p id="notice"><%= notice %></p>

<h1>Avoirs</h1>

<table>
  <thead>
    <tr>
      <th>Reponse</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avoirs.each do |avoir| %>
      <tr>
        <td><%= avoir.reponse_id %></td>
        <td><%= avoir.question_id %></td>
        <td><%= link_to 'Show', avoir %></td>
        <td><%= link_to 'Edit', edit_avoir_path(avoir) %></td>
        <td><%= link_to 'Destroy', avoir, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avoir', new_avoir_path %>
