<p id="notice"><%= notice %></p>

<p>
  <strong>Reponse:</strong>
  <%= @avoir.reponse_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @avoir.question_id %>
</p>

<%= link_to 'Edit', edit_avoir_path(@avoir) %> |
<%= link_to 'Back', avoirs_path %>
